<div class="menu_wrap">
    <div class="menu_wrap_text">Меню</div>
    <div class="root_main">
        <a href="{% url 'main:main' %}">Главная</a>
    </div>
    <div class="root_main">
        <a href="{% url 'products:main' %}">Каталог</a>
        <div class="dropdown_main">
            {% for itm in menu %}
                <a href="{% url 'products:detail' pk=itm.id %}">{{ itm.name }}</a>
            {% endfor %}
        </div>
    </div>
    <div class="root_main">
        <a href="{% url 'main:contacts' %}">Контакты</a>
    </div>
</div>