<div class="menu_wrap">
    <div class="menu_wrap_text">Меню</div>
    <ul>
        <li><a href="{% url 'main:main' %}">Главная</a></li>
        <li><a href="{% url 'products:main' %}">Каталог</a>
            <ul>
                {% for itm_c in menu_categories %}
                    <li><a href="{% url 'categories:detail' pk=itm_c.id %}">{{ itm_c.name }}</a>
                        <ul>
                            {% for itm_p in menu_products %}
                                {% if itm_p.category_id == itm_c.id %}
                                    <li><a href="{% url 'products:detail' pk=itm_p.id %}">{{ itm_p.name }}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </li>
        <li><a href="{% url 'main:contacts' %}">Контакты</a></li>
    </ul>
</div>