<div class="menu_wrap">
    <div class="menu_wrap_text">Меню</div>
    <ul>
        <li><a href="{% url 'main:main' %}">Главная</a></li>
        <li><a href="{% url 'products:main' %}">Каталог</a>
            <ul>
                <li><a href="{% url 'categories:main' %}">Все категории</a></li>
                {% for category in menu %}
                    <li><a href="{% url 'categories:detail' pk=category.id %}">{{ category.name }}</a>
                        <ul>
                            {# Вместо category.product_set.all используем category.category.all, т.к. #}
                            {# в модели Product в поле category стоит related_name='category' #}
                            {% for product in category.category.all %}
                                <li><a href="{% url 'products:detail' pk=product.id %}">{{ product.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </li>
        <li><a href="{% url 'main:contacts' %}">Контакты</a></li>
    </ul>
</div>