{% extends 'server/base.html' %}
{% load staticfiles %}

{% block content_right %}
    <div class="content_right_header">
        {{ obj.name }}
    </div>
    <div class="product_img_and_short_description">
        {% if obj.image %}
            <a href="{{ obj.image.url }}" target="_blank">
                <img src="{{ obj.image.url }}" alt={{ obj.name }} class="game_image">
            </a>
        {% else %}
            <a href="/media/products_images/default.png" target="_blank">
                <img src="/media/products_images/default.png" alt={{ obj.name }} class="game_image">
            </a>
        {% endif %}
        <div class="product_short_description_wrap">
            <h2 class="product_header">Описание товара</h2>
            <p class="product_short_description">
                {{ obj.short_description|safe }}
            </p>
            <a href="#" class="buy">Купить</a>
        </div>
    </div>

    <h2 class="product_header">Характеристики товара</h2>
    <ul class="product_features">
        {{ obj.specifications|safe }}
    </ul>

    <h2 class="product_header">Подробное описание товара</h2>
    <div class="product_full_description">
        {{ obj.description|safe }}
    </div>
{% endblock %}