{% extends 'server/base.html' %}
{% load staticfiles %}

{% block content_right %}
    <div class="content_right_header">
        {{ object.name }}
    </div>
    <div class="product_img_and_short_description">
        {% if object.image %}
            <a href="{{ object.image.url }}" target="_blank">
                <img src="{{ object.image.url }}" alt={{ object.name }} class="game_image">
            </a>
        {% else %}
            <a href="/media/products_images/default.png" target="_blank">
                <img src="/media/products_images/default.png" alt={{ object.name }} class="game_image">
            </a>
        {% endif %}
        <div class="product_short_description_wrap">
            <h2 class="product_header">Описание товара</h2>
            <p class="product_short_description">
                {{ object.short_description|safe }}
            </p>
            <a href="#" class="buy">Купить</a>
        </div>
    </div>

    <h2 class="product_header">Характеристики товара</h2>
    <ul class="product_features">
        {{ object.specifications|safe }}
    </ul>

    <h2 class="product_header">Подробное описание товара</h2>
    <div class="product_full_description">
        {{ object.description|safe }}
    </div>
{% endblock %}