{% extends 'server/base.html' %}
{% load staticfiles %}

{% block content_right %}
    <div class="content_right_header">
        Каталог
    </div>
    <div class="content_right_product">
        {% for _ in ''|rjust:2 %}
            {% for product in products %}
                {% include 'server/includes/inc_product.html' with id=product.id status=product.status image=product.image name=product.name price_now=product.price_now price_old=product.price_old %}
            {% endfor %}
        {% endfor %}
    </div>
{% endblock %}
