{% extends 'main/base.html' %}
{% load staticfiles %}

{% block title %}
    Манчкин
{%  endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'main/css/product.css' %}">
{% endblock %}


{% block content_right %}
    <div class="content_right_header">
        Манчкин
    </div>

    <div class="product_img_and_short_descroption">
        <a href="{% static 'main/img/manchkin.jpg' %}" target="_blank">
            <img src="{% static 'main/img/manchkin.jpg' %}" alt="Манчкин" class="game_image">
        </a>
        <div class="product_short_description_wrap">
            <h2 class="product_header">Описание товара</h2>
            <p class="product_short_description">
                Маннчкин — настольная карточная игра Стива Джексона с рисунками Джона Ковалика, которая пародирует
                настольные ролевые игры и коллекционные карточные игры (Magic: The Gathering). В 2001 году победитель
                американской премии Origins Awards в номинации «Лучшая карточная игра».
            </p>
            <a href="#" class="buy">Купить</a>
        </div>
    </div>

    <h2 class="product_header">Характеристики товара</h2>
    <ul class="product_features">
        <li>168 карт</li>
        <li>Кубик для смывки</li>
        <li>Правила</li>
    </ul>

    <h2 class="product_header">Подробное описание товара</h2>
    <div class="product_full_description">
        «Манчкин» — это ролевая игра по форме, пародия по содержанию. При создании игра была направлена на
        молодёжную аудиторию, знакомую с ролевыми играми. Тем не менее, играть в «Манчкина» можно в любом
        возрасте.<br>
        В игру лучше всего играть компанией от трёх до шести человек. Вдвоём можно играть только для изучения.
        Компании большего размера технически возможны, но чем больше количество игроков, тем реже они смогут
        сделать
        ход.<br>
        <br>
        Главная цель игры состоит в достижении десятого уровня — главной характеристики персонажа в игре. Начинают
        все с первого, а дальше каждый повышает свои уровни сражаясь с монстрами, применением специальных карт или
        продавая снаряжение, в сумме превышающее 1000 голдов (местной валюты).<br>
        <br>
        Для игры предназначены две колоды — «двери» и «сокровища», и шестигранный кубик. Ход состоит из нескольких
        фаз — открытие двери в подземелье, то есть взятие карты из соответствующей колоды, затем действие по
        указаниям на карте, затем, если повезёт — получение вознаграждения в виде сокровищ, карт из второй колоды,
        и
        после этого, при необходимости, избавление от лишних карт.<br>
        Карты игрока находятся в руке — в запасе, и могут быть частично выложены на игровой стол — тогда они
        действуют в игре.<br>
        <br>
        Схватка с монстром состоит в сравнении боевой силы монстра и игрока. Игрок может повышать свою боевую силу
        за счёт «шмоток», а также одноразовых бонусов. Если игрок не может победить монстра, он должен попытаться
        сбежать (смыться), кинув кубик. Если ему и это не удаётся, он подвергается «непотребствам», описанным в
        карте монстра — от потери нескольких или всех шмоток до смерти (так как игра является пародией на D&D, то
        смерть приводит к потере всех карт с сохранением уровня, расы и класса). Если же игрок побеждает, он
        получает уровень (или два, что зависит от количества монстров и описания их карт), а также одно или
        несколько сокровищ — карт из соответствующей колоды.<br>
        <br>
        Основной особенностью является то, что во время «боя» другие игроки могут как помогать, так и мешать
        игроку,
        сражающемуся с монстром. Причём помогать может только один, и то с корыстными целями — например, за
        сокровища, — а мешать могут все остальные. Чем выше уровень сражающегося игрока, тем сильнее искушение
        помешать ему подняться ещё выше, дабы предотвратить его выигрыш.<br>
        <br>
        Ещё одной особенностью игры является поощрение нечестной игры: небескорыстная помощь, помощь в бою с целью
        не дать напарнику поднять уровень («задруживание» монстра). Игровые карты позволяют составлять хитрые
        комбинации. Инструкция пародирует сложные правила настольных игр и разногласия в толковании: в случае
        конфликтной ситуации, не описанной в правилах, спор решается громкой перебранкой между игроками, с
        последним
        словом за владельцем колоды (правило «Владелец колоды всегда прав»).
    </div>
{% endblock %}