{% extends 'main/base.html' %}
{% load staticfiles %}

{% block title %}
    Каркассон
{%  endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'main/css/product.css' %}">
{% endblock %}


{% block content_right %}
    <div class="content_right_header">
        Каркассон
    </div>
    <div class="product_img_and_short_descroption">
        <a href="{% static 'main/img/karkasson.jpg' %}" target="_blank">
            <img src="{% static 'main/img/karkasson.jpg' %}" alt="Каркассон" class="game_image">
        </a>
        <div class="product_short_description_wrap">
            <h2 class="product_header">Описание товара</h2>
            <p class="product_short_description">
                <b>Каркассон</b> — настольная стратегически-экономическая игра немецкого стиля. Разработана
                Клаусом-Юргеном Вреде в 2000 году. В 2001 году была удостоена награды «Игра года» в Германии. На данный
                момент в мире продано более 7 миллионов экземпляров игры.

                Игра заключается в пошаговом собирании игрового поля и размещении на нём фишек своих подданных. В
                зависимости от того, на какую местность поставлена фишка, она становится рыцарем, крестьянином, монахом или
                разбойником.
            </p>
            <a href="#" class="buy">Купить</a>
        </div>
    </div>

    <h2 class="product_header">Характеристики товара</h2>
    <ul class="product_features">
        <li>72 квадрата участков земли</li>
        <li>40 фишек пяти цветов</li>
        <li>Поле шкалы подсчёта очков</li>
        <li>Правила игры</li>
    </ul>

    <h2 class="product_header">Подробное описание товара</h2>
    <div class="product_full_description">
        <b>Создание поля</b><br>
        В начале игры на поле выкладывается «стартовый квадрат». В фирменной версии он отличается от прочих другой
        расцветкой рубашки. Стартовый квадрат содержит все возможные элементы местности, что исключает проблему
        нестыковки квадратов. После этого игроки определяют очерёдность хода и начинают выкладывать игровое поле.
        Квадраты можно ставить только так, чтобы они касались рядом стоящих квадратов. Причём местность на них
        должна состыковываться (дороги с дорогами, города с городами, поля с полями).<br>
        <br>
        <b>Фишки подданных</b><br>
        Каждый игрок располагает 8 фишками подданных (одна из них используется для подсчёта очков). После того, как
        игрок выставил очередной «квадрат» поля, он может выставить одного своего подданного на этот квадрат. При
        этом игрок не может ставить фигурку на объект (город, дорогу или поле), уже занятый другим игроком. Но в
        процессе игры объекты могут объединиться в единое целое. Фигурки возвращаются к игроку после того, как их
        объект закончен. Соответственно фишка может принести очки несколько раз за игру. Исключение составляют
        крестьяне — они остаются на поле до конца игры.<br>
        <br>
        <b>Очки победы</b><br>
        Выставленные на поле фишки приносят очки, как только объект, который они занимают, закончен. То есть, как
        только дорога дошла до какого-то конца, город полностью окружён стенами, а монастырь — полностью окружён
        любыми квадратами. Недостроенные объекты приносят очки в конце игры, однако в некоторых случаях меньше, чем
        достроенные.<br>
        <br>
        <b>Конец игры</b><br>
        Игра заканчивается, как только заканчиваются все не выставленные на поле квадраты. После этого выполняется
        подсчёт очков для оставшихся на поле фишек. Выигрывает игрок, набравший больше всего очков.
    </div>

    <h2 class="product_header">Расширения базовой игры</h2>
    <ul>
        <li>The River (2001) — мини-дополнение</li>
        <li>«Таверны и соборы» — Inns & Cathedrals (2002)</li>
        <li>«Купцы и строители» — Traders & Builders (2003)</li>
        <li>The Cathars (2004) — мини-дополнение</li>
        <li>The Count of Carcassonne (2004)</li>
        <li>«Принцесса и дракон» — The Princess & The Dragon (2005)</li>
        <li>The River II (2005) — мини-дополнение</li>
        <li>The Mini Expansion (2006) — мини-дополнение</li>
        <li>The Tower (2006)</li>
        <li>«Аббатство и мэр» — Abbey & Mayor (2007)</li>
        <li>«Граф, король и место поклонения» — Count, King, and Cult (2008)</li>
        <li>«Место поклонения» — The Cult (2008) — мини-дополнение</li>
        <li>Catapult (2008)</li>
        <li>Wheel of Fortune (2009) — дополнение и замена базовой игры</li>
        <li>Tunnel (2009) — мини-дополнение</li>
        <li>«Мосты, замки и базары» — Bridges, Castles & Bazaars (2010)</li>
        <li>Crop Circles (2010) — мини-дополнение</li>
        <li>The Plague (2010) — мини-дополнение</li>
        <li>The Festival (2011) — мини-дополнение</li>
        <li>The Phantom (2011) — мини-дополнение</li>
        <li>«Овцы и холмы» — Hills & Sheep (2014)</li>
    </ul>
{% endblock %}